.blogContainer {
    height: 211px;
    background-color: #F1F1F1;
    text-align: center;
}

.blogContainer h1 {
    padding: 49px 0 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
}

.blogBtnContainer {
    width: 182px;
    height: 45px;
    background: #8D4FDB;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogBtnContainer h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blogBtnContainer:hover {
    background: #64389b;
    cursor: pointer;
}