.bodyInfoContainer {
    max-width: 800px;
    width: 100%;
    height: 1741px;
    margin: 0% auto;
}

.btnTravel {
    width: auto;
    height: auto;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
    box-sizing: border-box;
    text-align: center;
}

.btnTravel h1 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.btnTravel:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}