.bodyInfoContainer {
    max-width: 800px;
    width: 100%;
    height: 1741px;
    margin: 0% auto;
}


.adventageImgContainer {
    background-image: url('./../img/img_body/IMAGE.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 330px;
    height: 100%;

}

.descriptionTitleContainer {
    height: 180px;
    background-color: white;
}

.btnTravel {
    width: 60px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
    box-sizing: border-box;
}



.btnTravel h1 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.btnTravel:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

















=============================================================================>
/* @media screen and (max-width: 940px) {

    .bodyInfoContainer {
        width: 700px;
    }

    .adventageImgContainer {
        height: 280px;
    }
}

@media screen and (max-width: 760px) {

    .bodyInfoContainer {
        width: 500px;
    }

    .adventageImgContainer {
        height: 240px;
    }
}

@media screen and (max-width: 460px) {

    .bodyInfoContainer {
        width: 380px;
    }

    .adventageImgContainer {
        height: 240px;
    }
} */