.footer {
    width: 100%;
    height: 166px;
    background-color: black;
}

.footerdescription {
    padding-top: 55px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8B8B8B;
}

.footerdescription a {
    text-decoration: none;
    color: #8D4FDB;
}

.footerLinks {
    padding-top: 10px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8B8B8B;
}

.footerLinks a {
    text-decoration: none;
    color: #8D4FDB;
}