.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBar {
    padding: 52px 0;
    text-align: center;
}

.navBar a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    padding-bottom: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.navBar a:hover {
    border-bottom: 2px solid white;
}