.backgroundContainer {
    background-image: url('./../img/img_background/kamni_trava_zakat_394778_2160x3840.jpg');
    padding-top: 60px;
    height: 2080px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.blockImg {
    display: block;
    width: 176px;
    height: 40px;
}