.backgroundContainer {
    background-image: url('./../img/img_background/kamni_trava_zakat_394778_2160x3840.jpg');
    width: 1440px;
    height: 2080px;
    padding-top: 60px;
}

.heder {
    margin: 0px auto 60px;
    width: 940px;
    height: 120px;
}

.nacContainer img {
    display: block;
    margin: 0% auto;
}

nav {
    text-align: center;
    padding-top: 52px;
}

nav a {
    padding: 0 12px 14px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1366px) {

    .backgroundContainer {
        width: 1349px;
        height: 768px;
    }
}