.backgroundContainer {
    background-image: url('./../img/img_background/kamni_trava_zakat_394778_2160x3840.jpg');
    padding-top: 60px;
    height: 2080px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.blockImg {
    display: block;
    width: 176px;
    height: 40px;
}

.adventageImgContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 330px;
    height: 100%;
}

.firstImg {
    background-image: url('./../img/img_body/IMAGE.png');

}

.secondImg {
    background-image: url('./../img/img_body/IMAGE2.png');
}

.thirdImg {
    background-image: url('./../img/img_body/IMAGE3.png');
}

.storiesImg1 {
    background-image: url('./../img/img_body/stories_img/IMAGE.png');
}

.storiesImg2 {
    background-image: url('./../img/img_body/stories_img/IMAGE2.png');
}

.storiesImg3 {
    background-image: url('./../img/img_body/stories_img/IMAGE3.png');
}