.backgroundContainer {
    background-image: url('./../img/img_background/kamni_trava_zakat_394778_2160x3840.jpg');
    padding-top: 60px;
    height: 2080px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.blockImg {
    display: block;
    width: 176px;
    height: 40px;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBar {
    padding: 52px 0 74px;
}

.navBar a {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    padding-bottom: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.navBar a:hover {
    border-bottom: 2px solid white;
}